<div class="card mb-3 bg-black" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-2  p-2">
			<img src="/img/avatar.webp" class="img-fluid rounded" alt="avatar">
		</div>
		<div class="col-10">
			<div class="card-body">
				<h5 class="card-title"><%= username %></h5>
				<p class="card-text"><%= text %></p>
				<p class="card-text text-end"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>
</div>