<div class="chat"> <!-- first div -->
	<div class="line-container" style="max-height: 50%; transform: translateX(0px) scale(1);"> <!-- container-->
		<div class="line bg-black"> <!-- inside box-->
			<img class="profile-img" src="/img/avatar.webp" alt="Avatar">
			<div class="row p-0">
				<div class="px-1">
				<div class="text-muted py-1" style="width: fit-content;"><%= username %></div>
				<p class="bg-dark rounded text-light border-dark text-p p-1"><%= text %></p>
				</div>
			</div>
		</div>
	</div>
</div>