<footer class="fixed-bottom bg-black">
    <div class="text-end pe-1 pe-md-4">
		<!-- center small copyright -->
		<div class="text-center text-small text-muted">
			<!-- <small>Copyright © <a href="https://github.com/Glutius/komotria" class="text-reset">kommotria</a></small> -->
			<span>Copyright © <a href="https://github.com/Glutius/komotria" class="text-reset">kommotria</a></span>
		</div>
    </div>
</footer>
