<footer class="fixed-bottom bg-black">
    <div class="text-end pe-1 pe-md-4">
        <small class="text-light text-muted">
            &copy; Komotria since 2022
        </small>
    </div>
</footer>
