<div class="modal fade " id="basicModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white" style="z-index: 9999">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <form id="modalForm">
                <div class="modal-body">
					<%- include('../partials/socialMedia.ejs'); %>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div id="check" class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input cb-violet" id="terms">
                        <label class="form-check-label" for="terms">Agree with Terms & Conditions</label>
                    </div>
                    <%- include('../partials/alert.ejs'); %>
					<div id="status" class="mb-3 form-check" hidden></div>

                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="modal_btn" class="btn btn-violet">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
