<div class="col">
	<div class="card mb-2 bg-black h-100" style="width: 18rem;">
		<a class="text-decoration-none text-light" href="/room/<%= id %>">
		<img src="https://countryflagsapi.com/svg/<%= country %>" class="card-img-top card-img-top-op opacity-75" alt="...">
		<div class="card-body">
		  <h5 class="card-title"><%= country %></h5>
		  <p class="card-text"><%= country %> related shenanigans</p>
		</div>
		</a>
	</div>
</div>
