<div class="card mb-2" style="width: 18rem;">
	<img src="https://countryflagsapi.com/svg/<%= country %>" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title"><%= country %></h5>
	  <p class="card-text"><%= country %> related shenanigans</p>
	  <a href="/room/<%= id %>" class="btn btn-primary">Open</a>
	</div>
</div>