<div class="py-1 text-center">
    
    <h5>Quick Login</h5>
    <div class="row">
        <div class="btn-group">
            <a type="button" href="/auth/facebook" class="btn btn-violet hv-blue">
                <i class="fa-brands fa-facebook-f"></i>
            <a type="button" href="/auth/discord" class="btn btn-violet hv-lightblue">
                <i class="fa-brands fa-discord"></i>
			</a>
            <a type="button" href="/auth/google" class="btn btn-violet hv-orange">
                <i class="fa-brands fa-google"></i>
			</a>
            <a type="button" href="/auth/github" class="btn btn-violet hv-navblue">
                <i class="fa-brands fa-github"></i>
			</a>
        </div>
    </div>
	<hr>
</div>