<div class="py-1">
    <hr>
    <h5>Other options</h5>
    <div class="row">
        <div class="col">
            <button class="btn btn-violet hv-blue">
                <i class="fa-brands fa-facebook-f"></i></button>
            <button href="" class="btn btn-violet hv-lightblue">
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button href="" class="btn btn-violet hv-orange">
                <i class="fa-brands fa-google"></i>
            </button>
            <button href="" class="btn btn-violet hv-navblue">
                <i class="fa-brands fa-github"></i>
            </button>
        </div>
    </div>
</div>