/*
##########################################################
#                     Scroll bar                         #
##########################################################
*/
.container.scroller { /* Firefox support */
    margin-right: 0;
    overflow: scroll;
    scrollbar-color: blueviolet rgba(0, 0, 0, .85);
    scrollbar-width: thin;

}


.scroller::-webkit-scrollbar { /* All other browsers support */
    background-color: rgba(0, 0, 0, .85)!important;
    width: 8px;
}
/*
##########################################################
*/

body {
    min-height: 100%!important;
    overflow: hidden;
}

html {
    min-height: 100%!important;

}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    min-height: 100%!important;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.nav-pills .nav-link.active {
    background-color: blueviolet;
}

.btn-violet, .btn-violet:active, .btn-violet:visited {
    color: white !important;
    background-color: blueviolet !important;
    border-color: #8626e0 !important;
}

.btn-violet:hover{
    color: white !important;
    background-color: rgba(142, 59, 220, 0.68) !important;
    border-color: rgba(142, 59, 220, 0.68) !important;
}


footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    z-index: 9998;
    padding-top: 7px;
}

.modal-header {
    border-bottom: 1px solid rgba(121, 121, 121, 0.51);
}

.modal-footer {
    border-top: 1px solid rgba(121, 121, 121, 0.51);
}

.side-toggle {
    font-size: 1.5rem;
    color: gray;
}

.font-danger{
    color: rgba(207, 102, 121) !important;
}

.alert-danger {
    background-color: rgba(207, 102, 121, 0.8) !important;
    color: white;
    border-color: #141414;

}


.nav-link-top.active{
    color: blueviolet !important;
}
.nav-link-top:hover{
    color:  rgba(142, 59, 220, 0.68) !important;
}
.dropdown-item-top:hover{
    background-color: blueviolet !important;
}

.nav-icon{
    color:#fff;
    font-size:24px;
    padding-top: 2px
}

.hv-blue:hover {
    border-color: royalblue !important;
    background-color: royalblue !important;
}

.hv-lightblue:hover {
    border-color: dodgerblue !important;
    background-color: dodgerblue !important;
}


.hv-orange:hover {
    border-color: orange !important;
    background-color: orange !important
}

.hv-navblue:hover {
    border-color: darkslateblue !important;
    background-color: darkslateblue !important;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.text-p {
    max-width: 400px;
    word-wrap: anywhere;
}

.card {
    border: 3px solid transparent;
}

.card:hover {
    border-color:blueviolet;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}