<!-- Basic html 5 template -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link href="/css/test.css" rel="stylesheet" />

	</head>


<body class="bg-dark">
	<main>
		<div id="chat-container">
			<div id="chat-input">
			  <div id="file-input"></div>
			</div>
			<div class="chat">
				<div class="line-container" style="opacity: 1; max-height: 200px; transform: translateX(0px) scale(1);">
					<div class="line">
						<div class="profile-img"
							style="background-color: rgb(186, 94, 186); opacity: 1; transform: translateY(0px);"></div>
						<div class="body">
							<div class="name"
								style="width: max-content; background-color: rgb(242, 13, 242); opacity: 1; transform: translateY(0px);">
								Billy</div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
						</div>
					</div>
				</div>
		
				<div class="line-container" style="opacity: 1; max-height: 200px; transform: translateX(0px) scale(1);">
					<div class="line">
						<div class="profile-img"
							style="background-color: rgb(94, 186, 94); opacity: 1; transform: translateY(0px);"></div>
						<div class="body">
							<div class="name"
								style="width: max-content; background-color: rgb(13, 242, 13); opacity: 1; transform: translateY(0px);">
								Billy</div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
						</div>
					</div>
				</div>
		
				<div class="line-container" style="opacity: 1; max-height: 200px; transform: translateX(0px) scale(1);">
					<div class="line">
						<div class="profile-img"
							style="background-color: rgb(94, 125, 186); opacity: 1; transform: translateY(0px);"></div>
						<div class="body">
							<div class="name"
								style="width: max-content; background-color: rgb(13, 89, 242); opacity: 1; transform: translateY(0px);">
								Billy</div>
							<div class="text" style="opacity: 1; transform: translateY(0px);"></div>
							<div class="rich-body" style="opacity: 1; transform: translateY(0px);"></div>
						</div>
					</div>
				</div>
			</div>
		  </div>
	</main>
</body>
<!-- load test.js -->
<script src="/js/test.js"></script>
</html>

